<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated smalluml -->
      <package
            uri="http://www.univ-nantes.fr/smalluml"
            class="smalluml.SmallumlPackage"
            genModel="model/smalluml.genmodel"/>
   </extension>

</plugin>
